JWT_SECRET=JWT_SECRET=d525b949ffcb8c0dc07d35f0b1df7931bb49a250
MONGOOSE_URI=mongodb://localhost:27017/food-view
IMAGEKIT_PUBLIC_KEY=public_goBjPLqmCIcx3v7i8juLnZC2/2I=
IMAGEKIT_PRIVATE_KEY=private_7av8HlLfIE//024wx5cFrj6BIg4=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/priyadagar